@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    rgba(148, 148, 148, 0.3) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@media (width < 768px) {
  .animate-in {
    animation: none;
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
